
/*Header*/
 :root{

   --o:'Gotham Light';

   --f:'Magic Wix';

   --r:'Conthrax SemiBold';

}
#o{
   font-family: var(--o);
   margin-top: 25px;
}

#f{
   font-family: var(--f);
   color: #018cf1;
   margin-top: 20px;
   font-size:x-large;

}
 
#r{
   margin-left: 5px;
   margin-top: 25px;
   color: #ffbe5c;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#frase{
   margin-top: 40px;
   margin-left: 10px;
}

#iconOF{
   margin-top: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffee8e;
}

ul li {
  float: left;
}

ul li img {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li img:hover {
  background-color: #00aff0;
}

.menu input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 10px;
  margin-right: 16px;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .menu a, .menu input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .menu input[type=text] {
    border: 1px solid #ccc;
  }
}

 .headerr div{
display:flex;
gap: 0px;
 }

 @font-face {
    font-family: 'Gotham Light';
    src: url('Cositas/GothamLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
 @font-face {
    font-family: 'Magic Wix';
    src: url('Cositas/marguerite.ttf') format('opentype');
    font-weight:300;
   font-style: normal;
}
 @font-face {
    font-family: 'Conthrax SemiBold';
    src: url('Cositas/175.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/*Seccion Principal*/

body {
    margin: 0;
}

.fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('https://static4.depositphotos.com/1008371/357/i/450/depositphotos_3578659-stock-photo-large-crowd-of.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: system-ui, sans-serif;
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        min-height: 100vh;
        text-align: left;
        padding: 40px;
        color: #ffffff;
        width: 100%;
        position:relative

      }


      .hero h1 {
        font-size: 48px;
        margin-bottom: 16px;
      }

      .hero h2 {
        font-size: 24px;
        color: #CBD5E1;
        max-width: 500px;
        margin-bottom: 32px;
      }

      .boton {
        padding: 16px 32px;
        background-color: #3255be;
        color: #FFFFFF;
        border-radius: 50px;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        bottom: 65vh;
        right: 180vh;
        width: 12%;
        height: auto;
        max-height: 85vh;
      }

/*Seccion Secundaria*/