* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}


/** =================================================================== **/
/** HEADER **/
/** **/

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    top: 0;
    z-index: 1000;
    background-color: white;
}

header img {
    margin-right: 10px;
}

.btn-nav {
    height: 50px;
    width: auto;
    margin-right: 15px;
    flex-shrink: 0;
    text-decoration: none;
    color: #000;
}

.btn-nav:hover {
    color: #2e5227;
}


/** ===================================================================== **/
/** ABOUT US **/
/** **/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.img-about {
    width: 450px;
    min-width: 300px;
    margin-top: 50px;
    border-radius: 5px;
}

.text {
    width: 480px;
    height: auto;
    min-width: 300px;
    margin-top: 50px;
    font-size: 16px;
}


/** ===================================================================**/
/** Servicios **/
/** **/

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.serv-title {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.serv-content {
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
    gap: 25px;
}

.serv-item {
    position: relative;
    width: 170px;
    transition: 0.2;
}

.serv-item:hover {
    scale: 1.05;
}


.serv-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: #00000042 1px 1px 5px 2px;
    filter: brightness(37%);
    transition: 0.2s;
}

.serv-img:hover{
    filter: brightness(60%);
}


.serv-inner {
    position: absolute;
    top: 10px;
    left: 10px;

    pointer-events: none;

    display: flex;
    justify-content: center;

    color: white;
}

.serv-inner a {
    display: inline-block;
    color:white;
    text-decoration: none;
    
}

.serv-inner a span {
    font-weight: 900;
}

.footer-title {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    gap: 20px;
}

.footer-item {
    color: #000;
    background-color: rgba(190, 190, 190, 0.637);
    box-shadow: #00000042 1px 1px 5px 2px;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
}
